# MeetEase Streamlit App Dependencies
streamlit
pillow
pytesseract
pymupdf
python-docx
tiktoken
faster-whisper
imageio[ffmpeg]
langchain
langchain-openai
langchain-community
sentence-transformers
faiss-cpu
rank-bm25
jiwer
opencv-python-headless==4.10.0.84
pydub
numpy
torch
transformers
